# VERICATH APP - ENVIRONMENT VARIABLES EXAMPLE

# App Configuration
NEXT_PUBLIC_APP_NAME="Vericath Webapp"
NEXT_PUBLIC_APP_URL="https://vericath.org"

# API & Proxy Endpoint Settings
VERICATH_API_BASE_URL="https://vericath.org/wp-json/wp/v2"
